<div class="row">
  <div class="row-cols-sm-2">
    <app-characters-menu></app-characters-menu>
  </div>
  <div class="col mb-2 mt-2">
    <div class="card">
      <div class="card-header">
        <h2>Personnages : {{ character.name }}</h2>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-action border-secondary" style="width: 10%"
              (click)="onDetails('/encyclopedia/races/'+character.race.id)">
            Race : {{ character.race.name }}
          </li>
          <li class="list-group-item">Age : {{ character.age }} ans</li>
          <li class="list-group-item">Sexe : {{ character.gender }}</li>
          <li class="list-group-item">Alignement : {{ character.alignment }}</li>
          <li class="list-group-item">Height : {{ character.height }} cm</li>
          <li class="list-group-item">Weight : {{ character.weight | weight }}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-action border-secondary" style="width: 10%"
              *ngFor="let characterClass of character.characters_classes"
              (click)="onDetails('/encyclopedia/classes/'+characterClass.class_.id)">
            {{ characterClass.class_.name }} : lvl {{ characterClass.lvl }}
          </li>
          <li class="list-group-item">Exp : {{ character.exp }}</li>
        </ul>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">FOR : {{ character.strength }}</li>
          <li class="list-group-item">DEX : {{ character.dexterity }}</li>
          <li class="list-group-item">CON : {{ character.constitution }}</li>
          <li class="list-group-item">INT : {{ character.intelligence }}</li>
          <li class="list-group-item">SAG : {{ character.wisdom }}</li>
          <li class="list-group-item">CHA : {{ character.charisma }}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Pc : {{ character.pc }}</li>
          <li class="list-group-item">Pa : {{ character.pa }}</li>
          <li class="list-group-item">Po : {{ character.po }}</li>
          <li class="list-group-item">Pp : {{ character.pp }}</li>
        </ul>
      </div>
      <div class="card-body">
        <h3>Compétences</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterSkill of character.characters_skills"
              [ngClass]="{'text-success': characterSkill.class_skill}"
              (click)="onDetails('/encyclopedia/skills/'+characterSkill.skill.id)">
            {{ characterSkill.skill.name }} - rang : {{ characterSkill.rank }}
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h3>Inventaire</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterWeapon of character.characters_weapons"
              (click)="onDetails('/encyclopedia/weapons/'+characterWeapon.weapon.id)">
              {{ characterWeapon.weapon.name }}
          </li>
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterArmor of character.characters_armors"
              (click)="onDetails('/encyclopedia/armors/'+characterArmor.armor.id)">
            {{ characterArmor.armor.name }}
          </li>
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterItem of character.characters_items"
              (click)="onDetails('/encyclopedia/items/'+characterItem.item.id)">
            {{ characterItem.item.name }}
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h3>Dons</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterTalent of character.characters_talents"
              (click)="onDetails('/encyclopedia/talents/'+characterTalent.talent.id)">
            {{ characterTalent.talent.name }}
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h3>Sorts</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action"
              *ngFor="let characterSpell of character.characters_spells"
              (click)="onDetails('/encyclopedia/spells/'+characterSpell.spell.id)">
            {{ characterSpell.spell.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
