<div class="col bg-secondary" style="min-height: 88vh">
  <h4>
    <a class="nav-link text-light text-uppercase" routerLink="/encyclopedia">Encyclopédie</a>
  </h4>
  <ul class="nav flex-column nav-tabs ">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/weapons">Armes</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/armors">Armures</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/skills">Compétences</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/classes">Classes</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/talents">Dons</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/items">Items</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/races">Races</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-light" routerLink="/encyclopedia/spells">Sorts</a>
    </li>
  </ul>
</div>
