<div class="row">
  <div class="row-cols-sm-2">
    <app-encyclopedia-menu></app-encyclopedia-menu>
  </div>
  <div class="col">
    <div class="card">
      <!--  <img src="favicon.ico" class="card-img-top" style="width: 28px;height: 30px">-->
      <div class="card-body">
        <h3 class="card-title">{{ weapon.name }}</h3>
        <div class="row">
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Catégorie : {{ weapon.category }}</p>
          </div>
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Catégorie de portée : {{ weapon.range_cat }}</p>
          </div>
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Facteur de portée : {{ weapon.range }}</p>
          </div>
          <div class="col">
            <p class="card-text">Type de dégât : {{ weapon.damage_type }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Dégâts (m) : {{ weapon.damage_m }}</p>
          </div>
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Dégâts (p) : {{ weapon.damage_p }}</p>
          </div>
          <div class="col">
            <p class="card-text">Coup critique : {{ weapon.critical }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto" style="min-width: 12rem">
            <p class="card-text">Prix : {{ weapon.price | currencyP }}</p>
          </div>
          <div class="col">
            <p class="card-text">Poids : {{ weapon.weight | weight }}</p>
          </div>
        </div>
        <p class="card-text">{{ weapon.description }}</p>
      </div>
    </div>
  </div>
</div>

