<div class="col" style="height: 88vh">
  <h1 class="text-center">Bienvenue sur PathfinderWeb !</h1>
  <p>Ce site web vous permet de consulter des personnages sauvegardés et une encyclopédie sur l'univers de Pathfinder.</p>
  <p><b>Créer un compte</b> ou <b>connectez-vous</b> pour pouvoir profiter de ce site web.</p>
  <p>Clicker sur l'onglet <b>"Personnages"</b> pour consulter la liste des personnages sauvegardés.</p>
  <p>Clicker sur l'onglet <b>"Encyclopédie"</b> pour consulter l'encyclopédie sur l'univers de Pathfinder.</p>
</div>

