<div class="row">
  <div class="row-cols-sm-2">
    <app-encyclopedia-menu></app-encyclopedia-menu>
  </div>
  <div class="col">
    <div class="card">
      <!--  <img src="favicon.ico" class="card-img-top" style="width: 28px;height: 30px">-->
      <div class="card-body">
        <h3 class="card-title">{{ talent.name }}</h3>
        <p class="card-text">Conditions : {{ talent.conditions }}</p>
        <p class="card-text">Avantages : {{ talent.advantages }}</p>
        <p class="card-text">{{ talent.description }}</p>
      </div>
    </div>
  </div>
</div>

